VITE_APP_URL=https://retroleaderboards.app
VITE_API_URL=https://retroachievements.org
VITE_ENCRYPTION_KEY=some-key
VITE_SUPABASE_URL=some-url
VITE_SUPABASE_KEY=some-key
VITE_POSTHOG_PROJECT_TOKEN=some-token
VITE_POSTHOG_HOST=https://eu.i.posthog.com